# Entornos virtuales
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# PyInstaller / Build
build/
dist/
*.spec

# VS Code / IDEs
.vscode/
.idea/

# Sistema operativo
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
